$white: #ffffff;
$black: #000000;
$lightGray:#dfdfdf;
$black-russian: #090d28;
$black-russian-opacity: rgba(9, 13, 40, 0.65);
$grayish-navy: #181c3a;
$waikawa-grey: #646b9b;
$blue-violet: #8d29ff;
$pastel-green: #00c84a;
$fun-green: #048533;
$zuccini: #075a26;
$sunsent-orange: #ff5136;
$red-orange: #ff2626;
$yellow-turbo: #ffd21c;
$turquoise: #2ee9d0;
$midnight-express: #131734;
$Bali-Hai: #8f9bb3;

$bg-primary: $black-russian;
$bg-secondary: $grayish-navy;
$bg-bright:$pastel-green;
$bg-light:$lightGray;

$color-primary: $white;
$color-secondary: $pastel-green;
$color-bright:$blue-violet;
$color-neutral:$waikawa-grey;
$color-text: $Bali-Hai;
$color-grey: $grayish-navy;

//Links
$link: $color-neutral;
$link-hover: $color-secondary;
$link-active:$color-secondary;

// BUTTONS - primary,secondary, default
$btn-sm-height:30px;
$btn-md-height:40px;
$btn-lg-height:50px;
$btn-sm-fontSize:small;
$btn-md-fontSize:medium;
$btn-lg-fontSize:large;
$btn-sm-icon-fontSize:small;
$btn-md-icon-fontSize:medium;
$btn-lg-icon-fontSize:large;
$btn-rounded-radius:30px;
$btn-basic-radius:5px;

$btn-primary-bg: $bg-bright;
$btn-primary-color: $color-primary;
$btn-primary-fontSize: medium;
$btn-primary-icon-color: $color-primary;
$btn-primary-icon-fontSize: small;
$btn-primary-br-color: $color-primary;

$btn-secondary-bg: $blue-violet;
$btn-secondary-color:$color-primary;
$btn-secondary-fontSize: medium;
$btn-secondary-icon-color: $color-primary;
$btn-secondary-icon-fontSize: small;
$btn-secondary-br-color:$color-primary;

$btn-default-bg: $bg-light;
$btn-default-color:$color-grey;
$btn-default-fontSize: medium;
$btn-default-icon-color:$color-grey;
$btn-default-icon-fontSize: small;
$btn-default-br-color: $color-grey;

// modals
$modal-bg: $bg-secondary;
$modal-overlay-bg: rgba(5, 16, 20, 0.53);
$modal-text-color: $color-bright;

//Fonts
$font-primary: "Arial";
$font-primary-bold: "Arial";
$font-secondary: "Arial-Black";