.lang-selector {
  /* background: transparent;
  border: 1px solid #d3daef;
  padding: 0 3px;
  position: relative;
  font-size: 18px;
  color: white;
  font-weight: bold; */

}
.lang-selector option{
  background:#ffffff;
  color: black;
}
/* .lang-selector i.fa{
position: absolute; 
right: 0;
color:white;
font-size: 18px;
} */